/Assembly-CSharp.csproj
/Assembly-CSharp-Editor.csproj
/ignore.conf
/Kitchen Chaos.sln
/.idea
/.plastic
/Library
/Logs
/obj
/UserSettings
/Assets
/Demo/Kitchen Chaos_BurstDebugInformation_DoNotShip
/Demo
/Demo/Kitchen Chaos_Data/sharedassets2.assets.resS
